<div id='outerDiv'>
	<div class='container' id='login_container'>
		<div class='row' style='margin-top: 20px;'>
			<h2 align='center'><font color='white'>Reset Password</font></h2>
		</div><br><br>
		<%= form_tag(:action => 'reset') do %>
			<div class='container' align='center'>
				<div class='row'>
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-envelope"></i>
						<%= text_field_tag :email, nil, placeholder: 'enter email', :class => 'form-control', :style => 'font-size: 20px;' %>
					</div>
				</div>
			</div>
			<br>
			<hr>
			<br>
			<button type="submit" class="btn btn-lg btn-success btn-block">
		  		<i class="glyphicon glyphicon-share"></i> Send
			</button>
			<h5 align='left'><%= link_to '(back)', url_for(:back), :style => 'color: white;' %></h5>
		<% end %>
	</div>
</div>

<% if flash[:notice] %>
	<script>
		alert('<%= flash[:notice] %>');
	</script>
<% end %>