<% if @current_user.role == 'Manager' %>
<center><div class='col-md-2' style='width: 250px;'>
	<div class="panel panel-primary" style=' box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); border-radius: 7px; border: 2px solid darkgreen;'>
        <div class="panel-heading" style='background-image: url(<%= asset_path 'add_panel.jpg' %>); background-size: cover; background-repeat: no-repeat; border-bottom: 1px solid darkblue;'>
            <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>Add new note:</h3>
        </div>
        <div class="panel-body">
	        <%= button_to new_note_path, :class => 'ourButton' do%>
          <i class="glyphicon glyphicon-plus ourButton-addon">Add</i>
  			  <% end %>
		    </div>
    </div>
	
</div></center>

<% end %>

<div class="col-md-8 col-sm-8 col-lg-8" style="float: none; margin: 0 auto;">
	<%= render 'all_notes' %>
</div>	