<div class='container'>
	<div class='col-md-5 col-lg-5' style="float: none; margin: 0 auto;">
		<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm;">
			<div class="panel-heading">
				<center><h3>Edit note</h3></center>
			</div>
			<div class="panel-body">
				<div class='col-md-24'>
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
	
	<span class="bottomleft">
		<%= link_to 'Back', url_for(:back), {:class => 'btn btn-md btn-primary glyphicon pull-left', :style => 'margin: 0px 0px 10px 0px;'}%>
	</span>
</div>