<div class='container' style='margin-top: 10px;'>
  <%= form_for([@task, @task.comments.build]) do |f| %>
    <div class='row'>
      <div class='col-xs-9'>
        <%= f.hidden_field :user, :value => @current_user.id %>
        <%= f.hidden_field :reply_to, :value => @reply_to %>
        <p>
        <% if @reply_to == nil %>
          <h4>New comment:</h4>
        <% else %>
          <h4>Reply:</h4>
        <% end %>
        <%= f.text_area :text, :style => 'resize: none; width: 250px; height: 100px;' %>
        </p>
      </div>

      <div class='col-xs-1' style='margin-top: 125px;'>
        <button type="submit" class="btn btn-xs">
        <i class="glyphicon glyphicon-save"></i> Add
        </button>
      </div>
    </div>
  <% end %>
</div>