<div class='newCommentForm'>
  <div class='col-avatar'>
    <i class='glyphicon glyphicon-user' style='margin-left: 3px;'></i>
  </div>
  <div class='col-form-area'>
    <%= form_for([@task, @task.comments.build]) do |f| %>
      <%= f.hidden_field :user, :value => @current_user.id %>
      <%= f.hidden_field :reply_to, :value => @reply_to %>
      
      <%= f.text_area :text, :class => 'comment-textarea', :placeholder => "Add a comment..."  %>

      <button type="submit" class="btn btn-sm btn-primary pull-right comment-button">Comment</button>
    <% end %>
  </div>
</div>