<% if @current_user.role == 'Manager' %>
<center><div class="col-md-2" style='width: 250px;'>
	<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>Create new task:</h3>
        </div>
        <div class="panel-body">
	        <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><i class="glyphicon glyphicon-plus"></i>Add task to project<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <% @projects.each do |project| %>
                  <li><%= link_to project.title, :controller => 'tasks', :action => 'add_task', :id => project.id %></li>
                <% end %>
            </ul>
        </div>
		</div>
    </div>
	
</div></center>

<% end %>

<div class="col-md-8 col-sm-8 col-lg-8" style="float: none; margin: 0 auto;">
	<%= render 'all_tasks' %>
</div>	