<div class='container'>
	<center><h2>Project: <%= @project.title %></h2></center>
	<div class='col-md-5 col-lg-5' style="float: none; margin: 0 auto; min-width: 420px;">
		<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm;">
			<div class="panel-heading">
				<center><h3>Add new task</h3></center>
			</div>
			<div class="panel-body">
				<div class='col-md-24'>
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
	
	<% if request.referer == 'http://localhost:3000/dashboards/index' %>
		<%= link_to "Back", {:controller => 'dashboards', :action => 'index'}, {:class => 'btn btn-md btn-primary glyphicon pull-left'}%>
	<% else %>
		<%= link_to "Back", {:controller => 'tasks', :action => 'index'}, {:class => 'btn btn-md btn-primary glyphicon pull-left'}%>
	<% end %>
</div>