<div class='container'>
	<div class='col-md-5 col-lg-5' style="float: none; margin: 0 auto; min-width: 420px;">
		<div class="panel panel-success" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); border-radius: 7px; border: 2px solid darkgreen;margin: 1cm 1cm 1cm 1cm;">
			<div class="panel-heading" style='background-image: url(<%= asset_path 'add_panel.jpg' %>); background-size: cover; background-repeat: no-repeat; border-bottom: 1px solid darkblue;'>
				<center><font color='white'><h3>Edit Task(<%= @task.title %>)</h3></font></center>
			</div>
			<div class="panel-body">
				<div class='col-xs-24' >
					<%= render 'form_edit' %>
				</div>
				<div class='row'>
				</div>
			</div>
		</div>
	</div>

	<div class='row' align='left' style='margin-top: 100px;'>
  		<%= link_to "<button class='backButton'><i class='glyphicon glyphicon-chevron-left backButton-addon'>Back</i></button>".html_safe, url_for(:back)%>
	</div>

</div>