<div class="container" style='min-width: 510px;'>
  <div class='row'>
    <% if flash[:notice] %>
      <div class='row'>
        <div class="alert alert-warning">
            <font color="red"><div class="notice"><%= flash[:notice] %></div></font>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-7" style="background: #eff6f7; border: 2px solid lightgrey; border-radius: 5px;margin: 1cm 0cm 1cm 0cm;">
      <%= render 'panel_users' %>
    </div>
    
    <div class="col-sm-4" style="background: #eff6f7; border: 2px solid lightgrey; border-radius: 5px;margin: 1cm 1cm 1cm 1cm;"><br>
      <div class="panel panel-success"  style="background: white; border: 2px solid lightgrey; border-radius: 5px;margin: 1cm 0cm 1cm 0cm;">
        <div class="panel-heading">
          <% if @user.username == nil %>
          <center><h2>New User</h1></center>
          <% else %>
          <center><h2>Edit User</h2></center>
          <div class='row'>
            <%= button_to "New User", {:controller => 'users', :action => 'reset'}, {:class => 'btn btn-sm btn-primary pull-right'}%>
          </div>
          <% end %>
        </div>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>