<div class="col-sm-2 ">
	<div class="panel panel-primary" style="margin: 1cm 1cm 1cm 1cm;">
		<div class="panel-heading">
			<p> User information </p>
		</div>
		<% if flash[:notice] %>
			<div class="alert alert-warning">
			    <div class="notice"><%= flash[:notice] %></div>
			</div>
		<% end %>
		<div class="panel-body">
			<p>
				<strong>Username</strong>
				<%= @user.username %>
			</p>

			<p>
				<strong>Role</strong>
				<%= @user.role %>
			</p>
		</div>
	</div>
</div>
