<div class="jumbotron" style="background: #e8f2ef;">
	<div class='row'>
		<div class="col-sm-4 ">
			<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm;">
				<div class="panel-heading">
					<center><h3> User information </h3></center>
				</div>
				<div class="panel-body">
					<center><h4>
						<strong>Username: </strong><br></br>
						<%= @user.username %>
					</h4></center><br></br>

					<center><h4>
						<strong>Role: </strong><br></br>
						<%= @user.role %>
					</h4></center>
				</div>
			</div>
		</div>
		
		<span class="bottomleft">
			<%= button_to "Back", {:controller => 'users', :action => 'reset'}, {:class => 'btn btn-md btn-primary glyphicon glyphicon-play pull-left'}%>
		</span>
	</div>
</div>