<div class="col-sm-2 ">
	<div class="panel panel-primary" style="margin: 1cm 1cm 1cm 1cm;">
		<div class="panel-heading">
			<p> User information </p>
		</div>
		<div class="panel-body">
			<p>
				<strong>Username</strong>
				<%= @user.username %>
			</p>

			<p>
				<strong>Role</strong>
				<%= @user.role %>
			</p>
		</div>
	</div>
</div>
