<% if @current_user.role == 'Manager' %>
<div class="col-md-2">
	<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>Add new project:</h3>
        </div>
        <div class="panel-body">
	        <ul class="list-unstyled">
	            <%= button_to new_project_path, :class => 'btn btn-md btn-success' do%>
      				<i class="glyphicon glyphicon-plus">Add</i>
      			<% end %>
	        </ul>
		</div>
    </div>
	
</div>

<% end %>

<div class="col-md-7 col-sm-7 col-lg-7" style="float: none; margin: 0 auto;">
	<%= render 'all_projects' %>
</div>	