<div class="col-md-3" style="background: #eff6f7; border: 2px solid lightgrey; border-radius: 5px;margin: 1cm 1cm 1cm 1cm; float: none; margin: 0 auto;"><br>
  <div class="panel panel-success"  style="background: white; border: 2px solid lightgrey; border-radius: 5px;margin: 1cm 0cm 1cm 0cm;">
    <div class="panel-heading">
      <center><h2>Edit Project(<%= @project.title %>)</h1></center>
    </div>

    <%= render 'form' %>
  </div>
</div>

<span class="bottomleft">
	<%= button_to "Back", {:controller => 'projects', :action => 'index'}, {:class => 'btn btn-md btn-primary glyphicon glyphicon-play pull-left'}%>
</span>