<div class='container'>
	<div class="col-xs-4" style="width: 450px;margin: 1cm 1cm 1cm 1cm; float: none; margin: 0 auto;"><br>
	  <div class="panel panel-success" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); border-radius: 7px; border: 2px solid darkgreen;margin: 1cm 1cm 1cm 1cm;">
				<div class="panel-heading" style='background-image: url(<%= asset_path 'add_panel.jpg' %>); background-size: cover; background-repeat: no-repeat; border-bottom: 1px solid darkblue;'>
	      <center><h2 style='color: white;'>Edit Project(<%= @project.title %>)</h1></center>
	    </div>

	    <%= render 'form' %>
	  </div>
	</div>


	<div class='row' align='left' style='margin-top: 100px;'>
  		<%= link_to "<button class='backButton'><i class='glyphicon glyphicon-chevron-left backButton-addon'>Back</i></button>".html_safe, url_for(:back)%>
	</div>
</div>