<div class='row'>
	<div class='col-xs-5' style='margin-left: 180px;'>
		<% if @role.permissions[3] != '0' %>
			<div class='row'>
				<%= render '/users/panel_users' %>
			</div>
		<% end %>
	</div>
	<div class='col-xs-5'>
		<% if @role.permissions[2] != '0' %>
			<div class='row'>
				<%= render '/notes/all_notes' %>
			</div>
		<% end %>
	</div>
</div>