<div class='row'>
	<div class='col-xs-8' style='min-width: 870px;'>
		<div class='row'>
			<%= render '/tasks/all_tasks' %>
		</div>

		<div class='row'>
			<%= render '/projects/all_projects' %>
		</div>
	</div>
	<div class='col-xs-4'>
		<div class='row'>
			<%= render '/notes/all_notes' %>
		</div>
	
		<div class='row'>
		<%= render '/work_days/form' %>

		</div>
	</div>
</div>