<div class='row'>
	<div class='col-xs-8' style='min-width: 870px;'>
		<% if @role.permissions[1] != '0' %>
			<div class='row'>
				<%= render '/tasks/all_tasks' %>
			</div>
		<% end %>

		<% if @role.permissions[0] != '0' %>
			<div class='row'>
				<%= render '/projects/all_projects' %>
			</div>
		<% end %>
	</div>
	<div class='col-xs-4'>
		<% if @role.permissions[1].to_f % 2 == 1 %>
			<div class='row'>
		      <%= render '/work_days/index' %>
			</div>
		<% end %>

		<% if @role.permissions[2] != '0' %>
			<div class='row'>
				<%= render '/notes/all_notes' %>
			</div>
		<% end %>
	</div>
</div>