<div class='row'>
	<div class='col-xs-5' style='margin-left: 180px;'>
		<div class='row'>
			<%= render '/users/panel_users' %>
		</div>
	</div>
	<div class='col-xs-5'>
		<div class='row'>
			<%= render '/notes/all_notes' %>
		</div>
	</div>
</div>