<div class='row'>
	<div class='col-xs-4'>
		<%= button_to new_company_path, :class => 'btn btn-md btn-success', :style => 'margin-left: 1cm;' do%>
			<i class="glyphicon glyphicon-plus">Create new company</i>
		<% end %>
	</div>
<div class='container'>
      <%= render 'companies' %>
</div>
</div>