<div class='jumbotron' style="background: #e8f2ef;">
	<div class='row'>
		<div class='col-md-8'>
			<%= render '/tasks/all_tasks' %>
		</div>
		<div class='col-md-4'>
			<%= render '/notes/all_notes' %>
		</div>
		
		<div class='col-md-8'>
			<%= render '/projects/all_projects' %>
		</div>
	</div>
</div>