<div class='jumbotron' style="background: #e8f2ef;">
	<div class='row'>
		<div class='col-md-8' style='min-width: 870px;'>
			<%= render '/tasks/all_tasks' %>
		</div>
		<div class='col-md-4'>
			<%= render '/notes/all_notes' %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-8' style='min-width: 870px;'>
			<%= render '/projects/all_projects' %>
		</div>
	</div>
  <div class='row'>
    <div class='col-md-4' style='min-width: 870px;'>
      <%= render '/work_days/form' %>
    </div>
  </div>
</div>