// Place all the styles related to the Calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter{
	border: 1px solid #d5d6cd;
	border-radius: 10px;
	width: auto;
	height: auto;
	background-color: #f9f9f5;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .9); 
	margin-bottom: 30px;
}

.calendar-container{
	width: 100%;
	height: auto;
	min-width: 600px;
	background-color: #f9f9f5;
  	position: relative;
}

.nowrap-row{
	height: 170px;	
}

.box{
	min-height: 170px;
	height: 170px;
	width: 16.66%;
	border: 1px solid grey;	
	background-color: #f9f9f5;
	position: absolute;
    overflow: hidden;
}

.box-1{
	margin-left: 0%;
}

.box-2{
	margin-left: 16.66%;
}

.box-3{
	margin-left: 33.32%;
}

.box-4{
	margin-left: 49.98%;
}

.box-5{
	margin-left: 66.64%;
}

.box-6{
	margin-left: 83.3%;
}

.box:hover{
	box-shadow: 0px 0px 10px rgba(0, 40, 105, 1);
	filter: brightness(90%);
	cursor: pointer; 
	cursor: hand;
	height: auto;
	z-index: 99;
}

.event-simple{
	margin: 2px 5px 1px 5px;
	widht: 100%;
	border: 1px solid #5f822a;
	border-radius: 3px;
	height: 20px;
	background-color: #82b23a;
}

.event-conference{
	margin: 2px 5px 1px 5px;
	color: white;
	widht: 100%;
	border: 1px solid #273182;
	border-radius: 3px;
	height: 20px;
	background-color: #3847b7;
}

.event-simple:hover{
	box-shadow: 0px 0px 10px rgba(0, 40, 105, 1);
	filter: brightness(120%);
}

.event-conference:hover{
	box-shadow: 0px 0px 10px rgba(0, 40, 105, 1);
	filter: brightness(120%);
}
