// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#outerDiv {
	margin: 0 auto;
	min-width: 500px;
	min-height: 450px;
	width: 500px;
	height: 450px;
}

#login_container {
	margin-top: 100px;
	min-width: 400px;
	min-height: 350px;
	width: 400px;
	height: 350px;
	background: rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .9); 
	border-radius: 10px;
}

#login_icon_holder {
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 50%;
    behavior: url(PIE.htc);
	min-width: 100px;
	min-height: 100px;
    width: 100px;
    height: 100px;
    background: #eaf7ed;
	border: 2px solid #a8c4af;
}

#login_container_icon {
	margin-left: 18px;
	margin-top: 20px;
    font-size: 60px;
	z-index: 2;
	color: green;
}

.inner-addon { 
    position: relative; 
    border: 2px solid #a8c4af; border-radius: 5px;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px; border-right: 1px solid grey;}
.right-addon .glyphicon { right: 0px; border-left: 1px solid grey;}

.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 40px; }

.boxShaderedCont{
	min-width: 600px;
	width: 100%;
	height: auto;
	background: rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .9);
}

.midle-delimiter{
	border-left: 2px solid #a8c4af;
	height: auto;
	width: 5%;
	margin-left: 4%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container-45-left{	
	width: 45%;
	height: auto;
	margin-bottom: 30px;
}

.container-45-right{
	width: 45%;
	height: auto;
	margin-bottom: 30px;
}