// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottomleft {
	position:absolute;
	bottom:0;
	margin-bottom:100px;
	left: 100px;
}