<h1>Email changed!</h1><br>

<p>Someone recently changed the password for <%= @user.username %>.</p>
<p>Your new email: <%= @user.email %></p>
<p>Your old email: <%= @old %></p><br>
<p>If you didn't request an email change, let us know.<p>