
<h1>Welcome to ArtsoftPM!</h1><br>
<p>
  Your ArtsoftPM system user account has been created! 
</p><br>

<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p><br><br>
<p>Have a good day!</p>

