<h1>Password reseted!</h1><br>

<p>Someone recently reseted the password for <%= @user.username %>.</p>
<p>Your new password: <%= @password %></p><br>
<p>If you didn't request a password reset, let us know.<p>