<div class="panel panel-success" style="margin: 1cm 1cm 1cm 1cm; border: 2px solid lightgrey; min-width: 400px;">
  <div class="panel-heading">
    <center><h3> Work day information </h3></center>
  </div>
   
  <div class='container' style='width: 100%;'>
    <div class='row' style="background-color: #55b25d;" align='center'>
      <div class='col-xs-2'><h4>User</h4></div>
      <div class='col-xs-2'><h4>Status</h4></div>
      <div class='col-xs-3'><h4>Start time</h4></div>
      <div class='col-xs-2'><h4>Worked time</h4></div>
      <div class='col-xs-3'><h4>Un-end</h4></div>
    </div>

    <% @users.each do |user| %>
        <% @work_day = WorkDay.get_work_day(user.id) %>

    <div class='row' style="background-color: #ffffff;" align='center'>
      <div class='col-xs-2'><h5><%= user.username %></h5></div>
      <div class='col-xs-2'><h5><%= @work_day.status %></h5></div>
      <div class='col-xs-3'><h5><%= @work_day.start_time %></h5></div>
      <% if @work_day.end_time != nil %>
        <div class='col-xs-2'><h5><%= @work_day.end_time - work_day.start_time %></h5></div>
      <% else %>
        <div class='col-xs-2'><h5> Still working </h5></div>
      <% end %>
      <div class='col-xs-3'>
        <button type="Un-end" class="btn btn-sm btn-primary btn-block">
          <i class="glyphicon glyphicon"></i> Un-end
        </button>
      </div>
    </div>
    <% end %>
  </div>
</div>