<% if @current_user.role == "Employee" %>

    <%@work_day=WorkDay.get_work_day%>

    <div class="col-md-4" >
      <%= button_to work_days_start_work_day_path(:work_day => @work_day), {:class => 'btn btn-md btn-success', :disabled => @work_day.status == 'Started'} do%>
          <i class="glyphicon glyphicon-play"></i>
      <% end %>
    </div>

    <div class="col-md-4" >
      <%= button_to work_days_finish_work_day_path(:work_day => @work_day), {:class => 'btn btn-md btn-danger', :disabled => @work_day.status == 'Finished' || @work_day.status != 'Started'} do %>
      <i class="glyphicon glyphicon-stop"></i>
      <% end %>
    </div>

<% end %>