<% if @current_user.role == "Employee" %>

    <div class="col-md-4" >
      <%= button_to "Start work day" , {:class => 'btn btn-md btn-success'} %>
    </div>

    <div class="col-md-4" >
      <%= button_to "Finish work day" %>
      <td><h5 class='pull-right'><%= link_to 'Finish work day',
                                             method: :finish,
                                             data: { confirm: 'Are you sure?' } %></h5></td>
    </div>

<% end %>